body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  font-family: 'Nunito', sans-serif;
  background-color: #f0f4f8;
  color: #4a4a4a;
  margin: 0;
  align-content: center;
}

h2 {
  font-size: 2.6em;
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: center;
  color: #2c3e50;
}

select, button, #settingsButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 25px;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  transition: all 0.3s ease;
}

/* CSS */



select {
  background-color: #ffffff;
  color: #2c3e50;
  width: 100%;
  text-align: center;
}

button {
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #4a4a4a;
  text-align: center;
}


.colorOption {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.colorOption:hover {
  transform: scale(1.1);
}

.colorOption.selected {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3498db;
}

#showWords {
  margin-right: 5px;
}

#link  {
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  padding-top: 1em;
  transition: transform 0.3s ease;
}

#settingsButton {
  background-color: #f8f9fa;
  color: #3498db;
  width: 40%;
  font-size: 14px;
  cursor: pointer;
  margin-top: 6px;
  padding: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#settingsButton:hover {
  background-color: #e9ecef;
  border-color: #dee2e6;
  color: #2980b9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#settingsButton:active {
  background-color: #e2e6ea;
  border-color: #dae0e5;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#settingsButton.active {
  background-color: #3498db;
  color: white;
  border-color: #2980b9;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

#colorOptions {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
#exerciseDescription {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  color: #7f8c8d;
}

#settingsPanel {
  width: 100%;
  border-top: 1px solid #dbe0e5;
  padding-top: 15px;
  margin-top: 15px;
}